@charset "utf-8";

html{
    font-size: 100%;
}

body{
    font-family: "Yu Gothic", sans-serif;
    line-height: 1.7;
    background-color: #f4f1e5;
    color: #292929;
}


a{
    text-decoration: none;
}

img{
    max-width: 100%;
}

/* レイアウト */
.align-center{
    text-align: center;
}

/* ヘッダー
---------------------------------------- */

.sub-title{
    font-size: 1rem;
    font-weight: normal;
    text-align: center;
    margin-bottom: 1rem;
}

.img-frame{
   position: relative;
   width: 90%;
   height: 450px;
   overflow: hidden;
   margin: 0 auto;

}
.img-01, .img-02, .img-03{
   position: absolute;
   top:0;
   left:0;
   width: 100%;
   height: 100%;
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;
}
.img-01{
   background-image: url(../images/top-moble1.jpg);
   animation: slide-animation-01 24s infinite;
}
.img-02{
   background-image: url(../images/top-moble2.jpg);
   animation: slide-animation-02 24s infinite;
}
.img-03{
   background-image: url(../images/top-moble3.jpg);
   animation: slide-animation-03 24s infinite;
}
@keyframes slide-animation-01 {
    0% {opacity: 1; transform: scale(1.0);}
  30% {opacity: 1;}
  40% {opacity: 0; transform: scale(1.15);}
  90% {opacity: 0}
100% {opacity: 1; transform: scale(1.0);}
}
@keyframes slide-animation-02 {
    0% {opacity: 0;}
  30% {opacity: 0; transform: scale(1.1);}
  40% {opacity: 1;}
  60% {opacity: 1;}
  70% {opacity: 0; transform: scale(1.0);}
100% {opacity: 0;}
}
@keyframes slide-animation-03 {
    0% {opacity: 0;}
  60% {opacity: 0;  transform: scale(1.0);}
  70% {opacity: 1;}
  90% {opacity: 1;}
100% {opacity: 0; transform: scale(1.1);}
}



















.page-title{
    text-align: center;
    margin: 10rem 0 1rem 0;
    line-height: 1.4;
    font-weight: bold;
    font-size: 1.5rem;
}

.header-nav{
    display: none;
}



.page-header{
padding-top: .5rem;
}

.logo{
    width: 350px;
padding: 0 1.5rem;
margin: 0 auto;
display: block;
}

/* ハンバーガーメニュー */
.menu-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    background-color: #f6b37f;
}
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #ffffff;
    position: absolute;
}
.menu-btn span:before {
    bottom: 8px;
}
.menu-btn span:after {
    top: 8px;
}

#menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
}
#menu-btn-check:checked ~ .menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
}
#menu-btn-check:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
}
#menu-btn-check {
    display: none;
}
.menu-content ul {
    padding: 70px 10px 0;
}
.menu-content ul li {
    list-style: none;
}
.menu-content ul li a {
    display: block;
    width: 100%;
    font-size: 1.5rem;
    box-sizing: border-box;
    color:#292929;
    text-decoration: none;
    padding: 9px 15px 10px 0;
    position: relative;
}

.menu-content ul li a:hover{
   background-color: #f6b37f;
}

.menu-content {
    text-align: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;/*leftの値を変更してメニューを画面外へ*/
    z-index: 80;
    background-color: #fff3ce;
    transition: all 0.5s;/*アニメーション設定*/
}
#menu-btn-check:checked ~ .menu-content {
    left: 0;/*メニューを画面内へ*/
}


/* ボタン */
.btn{
    display: inline-block;
    color: #fff;
    background-color: #f6b37f;
    font-size: 1rem;
    border-radius: 32px;
    padding: 0.75rem 1.5rem;
    margin: 0 auto 10rem 0;
}

.btn:hover{
    background-color: #ff7b39;
}

.top{
text-align: center;
display: block;
    margin-bottom: 1.5rem;
}



.about{
    margin: 3rem auto 4rem;
    width: 100%;
    max-width: 800px;
    padding: 0 1rem;
}

.about p{
    margin: 5rem 0 5rem 0;
padding: 0 1rem;
}

/* 施設紹介 */
.facility{
    width: 100%;
    padding: 0 1rem;
}

.facility p{
        margin: 1rem 0 3rem 0;
}




.facility-about{
    max-width: 800px;
    margin: 3rem auto 4rem;
    width: 100%;
padding: 0 1rem;
}

.facility-p{
    margin: 2rem 0;
}

.facility-cat{
    padding: 1rem 0 4rem;
}






/* スタッフ紹介 */
.staff{
    margin: 3rem auto 10rem;
    padding: 0 1rem;
}

.staff p{
    margin: 1rem 0 5rem 0;
}

.staff-container{
    padding: 0 1rem;
    width: 100%;
}

.staff_p{
    padding: 1rem 1rem 3rem ;
}

.staff-bold{
    font-weight: bold;
    text-align: center;
}



/* お知らせ */


.news {
    max-width: 800px;
    margin: 1rem auto 4rem;
    padding: 0 1rem;
}


.news ul {
    list-style-type: none;
    padding-left: 0;
    margin: 1rem auto 4rem;
}

.news ul li {
    margin-bottom: 1rem;
    border-bottom: 1px solid #292929;
    color: #292929;
    padding: 20px 0 20px 175px;
    text-indent: -175px;

}

.news ul li time {
    display: inline-block;
    width: 175px;
    font-weight: normal;
    color: #292929;
    text-indent: 0;
}


.news ul li a {
    color: #5a575a;
}

.news ul li a:hover {
    color: #ff7b39;
}


.facility-name{
    text-align: right;
}


/* アクセス */
.access{
    margin: 3rem 0;
}


.info{
    width: 100%;
    max-width: 544px;
    margin-bottom: 1rem;
    padding: 0 1.5rem;
    border-spacing: 0;
}

.info th,
.info td{
    border-bottom: 1px solid #292929;
}

.info th{
    text-align: left;
    font-weight: normal;
    padding: 1rem;
}

.info td{
    padding: 1rem 0;
}

iframe{
    width: 100%;
}

.information-map{
        max-width: 736px;
    padding: 0 1.5rem;
    margin: 3rem auto 4rem;

}




/* お知らせ */
.container {
    max-width: 1120px;
    background-color: #fff;
    margin: auto;
}





.img_wrap {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    border-radius: 15px;

}

.new::after {
    content: "New";
    font-size: .75rem;
    background-color: #f6b37f;
    color: #fff;
    padding: 5px;
    margin-left: 5px;
    border-radius: 3px;
}


.blog-midashi {
    background-color: #fff;
    padding: 1rem;
    border-radius: 0 0 15px 15px;
    margin: auto;
    width: 300px;
}


.blog_more {
    display: block;
    padding: .5rem 0;
    text-align: right;
    font-size: 1.5rem;
}


.blog_more a {
    color: #5a575a;
    padding: .5rem 0;

}

.blog_more a:hover {
    color: #e2abae;
    padding: .5rem 0;
    border-bottom: 2px dashed #e2abae;
}


.img_wrap img {
    width: 100%;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
    transition-duration: 0.3s;
}

.img_wrap:hover img {
    opacity: 0.6;
    transition-duration: 0.3s;
}


/* blogページのレイアウト */

.page-desc {
    font-size: 1rem;
    margin-bottom: 0;
}

.page-title,
.page-desc {
    text-align: center;
}

/*
MAIN
================================================ */


main {
    margin-bottom: 3rem;
    background: #fff;
}

/* 記事一覧 */
.post-home {
    margin-bottom: 3rem;
    padding: 1rem 1.5rem;
    width: 100%;
}

.post-title {
    padding: 10px;
    margin-bottom: 2.5rem;
    border-bottom: 1px solid #292929;
    border-left: 1px solid #292929;
}

.post-title h2 {
    background: #fff;
    padding: 0 .5rem .875rem;
    font-size: 1.5rem;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 500;
    line-height: 1.5;
}

.post-title a {
    color: #292929;
    text-decoration: none;
}

.post-title a:hover {
    color: #ff7b39;
}

.post-thumb {
    margin: 0 0 1rem 0;
    position: relative;
}

.post-date {
    font-size: 1.5rem;
    letter-spacing: .1rem;
    font-family: 'Amatic SC', cursive;
    background: #f6b37f;
    border-radius: 30% 60% 50% 70%/50%;
    color: #fff;
    text-align: center;
    position: absolute;
    left: 0;
    top: -10px;
    width: 80px;
    height: 80px;
}

.post-date span {
    border-bottom: 2px rgba(255, 255, 255, .5) dotted;
    padding-bottom: 2px;
    display: block;
    width: 60%;
    margin: 4px auto 0;
    font-size: 1rem;
}

.post-img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 40% 70% 50% 30%/50%;
}

.btn_news {
    text-align: right;
    margin-top: 1rem;
}

.btn_news a {
    color: #fff;
    padding: 10px 20px;
    border-radius: 50%;
    text-decoration: none;
    display: inline-block;
    background-color: #f6b37f;
    padding: 1rem 1.5rem;

}

.btn_news a:hover {
    color: #292929;
    background-color: #ff7b39;
    border-radius: 50%;
    padding: 1rem 1.5rem;
}




/* ページ送り */
.pagination {
    display: flex;
    justify-content: center;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    list-style: none;
}

.pagination a:hover {
    background: #ff7b39;
    color: #f7f3f1;
}

.pagination a,
.pagination .current {
    border-radius: 50%;
    display: inline-block;
    width: 36px;
    height: 36px;
    margin: 0 6px;
    color: #292929;
}

.pagination .current {
    background: #f6b37f;
    color: #fff;
}

/*
ASIDE
================================================ */
aside {
    margin: 1rem 0;
}

.side-box {
    margin-bottom: 4rem;
    border: 1px solid #292929;
    outline: 2px solid #292929;
    outline-offset: 4px;
    border-radius: 6px;
    padding: .875rem;
    position: relative;
    text-align: center;
}



.side-box a:hover {
    color: #ff7b39;
}


/* リスト */
.side-box li {
    border-bottom: 1px solid #292929;
    padding: 1rem .25rem;
    display: flex;
}


.side-box li:last-child {
    padding-bottom: .5rem;
    border-bottom: 0;
}

.side-box li a {
    color: #292929;
    flex: 1;
    line-height: 1.4;
}









/* フッター
---------------------------------------- */
.copyright{
    background-color: #ff7b39;
    text-align: center;
    padding: 2rem 0;
    margin-top: 6rem;
    color: #fff;
}




/* 陽だまりの家について */

.day{
    border-spacing: 0;
    margin: 0 auto;
    margin-bottom: 2rem;
    padding: 0 1rem;
}

.day th,
.day td{
        border-bottom: 1px solid #292929;
    padding: 2rem 1.5rem;

}

.about_img{
    padding: 0 1rem;
}

.staff_img{
    padding: 0 1rem;
}

#page_top{
  width: 90px;
  height: 90px;
  position: fixed;
  right: 0;
  bottom: 0;
  background: #f6b37f;
  opacity: 0.6;
  border-radius: 50%;
}
#page_top a{
  position: relative;
  display: block;
  width: 90px;
  height: 90px;
  text-decoration: none;
}
#page_top a::before{
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f102';
  font-size: 25px;
  color: #fff;
  position: absolute;
  width: 25px;
  height: 25px;
  top: -40px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}
#page_top a::after{
  content: 'PAGE TOP';
  font-size: 13px;
  color: #fff;
  position: absolute;
  top: 45px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}

/* お問い合わせ */
form {
    display: block;
    background-color: #fff;
    margin: 0 auto;
    padding: 2rem;
    width: 400px;
text-align: center;
}

input[type="text"],
input[type="email"] {
    display: inline-block;
    width: 300px;
    border: 1px solid #292929;
    background-color: #fff;
}

label{
    display: inline-block;
    text-align: left;
}

textarea {
    width: 300px;
    height: 200px;
    border: 1px solid #292929;
    background-color: #fff;
}


input[type="submit"] {
    width: 300px;
    padding: 0.75rem 1.5rem;
    background-color: #f6b37f;
    color: #292929;
    text-align: center;
}

input[type="submit"]:hover {
    background-color: #ff7b39;
    color: #fff;
}


form p {
    margin-bottom: 30px;
}

.submit{
    text-align: center;
}



/* デスクトップ版
---------------------------------------- */
@media (min-width: 800px){




    

/* スライドショー */
.img-frame{
      position: relative;
   width: 70%;
   max-width: 1200px;
   height: 800px;
   overflow: hidden;
   margin: 0 auto;

}



.hamburger-menu{
    display: none;
}


.page-header{
    display: flex;
    justify-content: center;
    gap: 25rem;
        margin: 3rem;
}

/* PC版ナビゲーションエリア */
.header-nav{
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 2rem;
    font-size: 1rem;
    margin-bottom: 3rem;
}

.header-nav li a{
    color: #292929;
    padding: 1.5rem;
}

.header-nav li a:hover{
    color: #ff7b39;
    padding: 1.5rem;
        border-bottom: 1px solid #ff7b39;

}

.staff-container{
    max-width: 800px;
    text-align: left;
    margin: 0 auto;
}


.facility{
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin: 0 auto 10rem;
    max-width: 800px;
}

.facility-cat{
    padding: 1rem 1rem 3rem;
}

.facility-about{
    max-width: 800px;
    margin: 10rem auto 4rem;
    width: 100%;
padding: 0 1rem;
}


.staff{
        max-width: 800px;

}


.access{
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.info{
    width: 32%;
}

.location-map{
    width: 32%;
}

.access .location-map th{
    padding-left: 2rem;
}







.day{
    width: 800px;
    margin-bottom: 5rem;
}







/* お知らせ */

    /* Layout*/
    .container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 4rem;
        padding: 1rem 2.5rem 2.5rem;
        border-radius: 15px;
    }

    .page-title {
        margin: 10rem 0 1rem;
    }

    .page-desc {
        font-size: 1.125rem;
        margin-bottom: 4rem;
    }

    /* Main */
    main {
        width: 68%;
        padding: 10px;
        margin-bottom: 0;
    }

    .post-thumb {
        margin: 0 3rem 1rem 0;
        shape-outside: circle();
        float: left;
    }

    .post-img {
        width: 220px;
        height: 180px;
    }

    /* Aside */
    aside {
        width: 28%;
    }


/* お問い合わせ */
form {
    display: block;
    background-color: #fff;
    margin: 0 auto;
    padding: 2rem;
    width: 750px;
text-align: center;
}

input[type="text"],
input[type="email"] {
    display: inline-block;
    width: 700px;
    border: 1px solid #292929;
    background-color: #fff;
}

label{
    display: inline-block;
    text-align: left;
}

textarea {
    width: 700px;
    height: 400px;
    border: 1px solid #292929;
    background-color: #fff;
}


input[type="submit"] {
    width: 400px;
    padding: 0.75rem 1.5rem;
    background-color: #f6b37f;
    color: #292929;
    text-align: center;
}

input[type="submit"]:hover {
    background-color: #ff7b39;
    color: #fff;
}


form p {
    margin-bottom: 30px;
}

.submit{
    text-align: center;
}


.staff-bold{
    font-weight: bold;
    text-align: center;
}





}